@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --primaryColor: #101820;
    --secondColor: #009bf9;
    --textColor: #F2FAFF;
    --gray: rgba(42, 53, 62, 0.4);
}

/* NavBar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-decoration: none!important;
    border: none;
    list-style: none; */
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    background: var(--primaryColor);
    color: var(--textColor);
}

#mainNavbar {
    background-color: var(--primaryColor) !important;
    border-bottom: 1px solid var(--gray);
}

#mainNavbar .nav-item .nav-link {
    position: relative;
    color: var(--textColor);
}

#mainNavbar .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondColor);
    bottom: 3px;
    left: 0;
    transition: ease .40s;
    -webkit-transition: ease .40s;
    -moz-transition: ease .40s;
    -ms-transition: ease .40s;
    -o-transition: ease .40s;
}

#mainNavbar .nav-item:not(:last-child) .nav-link:hover::after {
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    color: var(--textColor);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}

nav a:hover,
nav a.active {
    color: var(--secondColor);
}

section {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    color: var(--textColor);
    font-weight: bold;
}


/* Navbar End */

/* About Me */

#hero .social a {
    transition: all;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

#hero .social a:hover {
    color: var(--textColor);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#hero h1 .typer {
    color: var(--secondColor);
}

/* About Me End */


/* Projects */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d061a
}

.container-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container-projects .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container-projects .box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container-projects .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.container-projects .box:hover:before,
.container-projects .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

}

.container-projects .box:nth-child(1):before,
.container-projects .box:nth-child(1):after {
    background: linear-gradient(315deg, var(--primaryColor), var(--secondColor))
}

.container-projects .box:nth-child(2):before,
.container-projects .box:nth-child(2):after {
    background: linear-gradient(315deg, var(--primaryColor), var(--secondColor))
}

.container-projects .box:nth-child(3):before,
.container-projects .box:nth-child(3):after {
    background: linear-gradient(315deg, var(--primaryColor), var(--secondColor))
}

.container-projects .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.container-projects .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)
}

.container-projects .box:hover span:after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translate(-10px);
    }
}

.container-projects .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}

.container-projects .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}

.container-projects .box .content h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.container-projects .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container-projects .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

.container-projects .box .content a:hover {
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/* Projects End */

/* Contact Me */
input[type=text],
select,
textarea {
    width: 100%;
    height: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--secondColor);
    color: var(--primaryColor);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #73a2c0;
}

.container-contact {
    width: 45%;
    border-radius: 5px;
    background-color: var(--primaryColor);
    padding: 20px;
}

/* Contact Me End */
/* icons */
#icon {
    padding-left: 20px;
    width: 100px;
    height: 50px;
}